:root {
  --yellow: #cfcf5e;
  --accent: #7b2f3d;
  --accent2: #778d45;
}
/* ---------------------------------- */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
}
/* ---------------------------------- */
.container {
  height: 100%;
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 12px;
}
